<template>
  <div class="submit-form">
    <div v-if="!submitted">
      <div class="form-group">
        <label for="name">name</label>
        <input
          type="text"
          class="form-control"
          id="name"
          required
          v-model="client.name"
          name="name"
        />
      </div>

      <div class="form-group">
        <label for="phone">phone</label>
        <input class="form-control" id="phone" required v-model="client.phone" name="phone" />
      </div>

      <div class="form-group">
        <label for="address">address</label>
        <input class="form-control" id="address" required v-model="client.address" name="address" />
      </div>

      <button @click="saveClient" class="btn btn-success">Submit</button>
    </div>

    <div v-else>
      <h4>You submitted successfully!</h4>
      <button class="btn btn-success" @click="newClient">Add</button>
    </div>
  </div>
</template>

<script>
import ClientDataService from "../services/ClientDataService";

export default {
  name: "add-client",
  data() {
    return {
      client: {
        id: null,
        name: "",
        phone: "",
        address: ""
      },
      submitted: false
    };
  },
  methods: {
    saveClient() {
      var data = {
        name: this.client.name,
        phone: this.client.phone,
        address: this.client.address
      };

      ClientDataService.create(data)
        .then(response => {
          this.client.id = response.data.id;
          console.log(response.data);
          this.submitted = true;
        })
        .catch(e => {
          console.log(e);
        });
    },

    newClient() {
      this.submitted = false;
      this.client = {};
    }
  }
};
</script>

<style>
.submit-form {
  max-width: 300px;
  margin: auto;
}
</style>
