<template>
  <div class="list row">
    <div class="col-md-6">
      <h4>Clients List</h4>
      <ul class="list-group">
        <li
          class="list-group-item"
          :class="{ active: index == currentIndex }"
          v-for="(client, index) in clients"
          :key="index"
          @click="setActiveClient(client, index)"
        >{{ client.name }}</li>
      </ul>

      <button class="m-3 btn btn-sm btn-danger" @click="removeAllClients">Remove All</button>
    </div>
    <div class="col-md-6">
      <div v-if="currentClient">
        <h4>Client</h4>
        <div>
          <label>
            <strong>Title:</strong>
          </label>
          {{ currentClient.name }}
        </div>
        <div>
          <label>
            <strong>Phone:</strong>
          </label>
          {{ currentClient.phone }}
        </div>
        <div>
          <label>
            <strong>Address:</strong>
          </label>
          {{ currentClient.address }}
        </div>
      </div>
      <div v-else>
        <br />
        <p>Please click on a Client...</p>
      </div>
    </div>
  </div>
</template>

<script>
import ClientDataService from "../services/ClientDataService";

export default {
  name: "clients-list",
  data() {
    return {
      clients: [],
      currentClient: null,
      currentIndex: -1,
      title: ""
    };
  },
  methods: {
    retrieveClients() {
      ClientDataService.getAll()
        .then(response => {
          console.log(response);
          this.clients = response.data;
          console.log(response.data);
        })
        .catch(e => {
          console.log(e);
        });
    },

    refreshList() {
      this.retrieveClients();
      this.currentClient = null;
      this.currentIndex = -1;
    },

    setActiveClient(client, index) {
      this.currentClient = client;
      this.currentIndex = index;
    },

    removeAllClients() {
      ClientDataService.deleteAll()
        .then(response => {
          console.log(response.data);
          this.refreshList();
        })
        .catch(e => {
          console.log(e);
        });
    },

    searchTitle() {
      ClientDataService.findByTitle(this.title)
        .then(response => {
          this.clients = response.data;
          console.log(response.data);
        })
        .catch(e => {
          console.log(e);
        });
    }
  },
  mounted() {
    this.retrieveClients();
  }
};
</script>

<style>
.list {
  text-align: left;
  max-width: 750px;
  margin: auto;
}
</style>
